extends layout

block content
  div(class="ui container")
    div(class="ui " + color + " inverted segment")
      br
      h2(class="ui center aligned icon header")
        i(class="exclamation triangle icon")
        div(class="content")  
          h1 #{title}    
            div(class="sub header") 
              hgroup 
                h3 #{message}
