extends layout

block content 
    div(class="ui attached segment")
      div(class="ui divided items")
        each album in albums
          div(class="item")
            div(class="ui image small")
              img(src=album.image_url)
            div(class="content")
              div(class="header")
                span(class="album-title")=album.title
              div(class="meta")
                span(class="meta-info")=album.artist
                span(class="meta-info")=album.price